body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    text-align: center;
}

header{
    background-color: #28A745;
    color: white;
    padding: 15px 0;
    font-size: 24px;
}

nav{
    background-color: #007BFF;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#links-menu {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration:  none;
    padding: 1px 15px;
    font-size:  18px;
    background-color: #005663;
    border-radius: 5px;
}